body {
    font-family: 'Droid Sans', sans-serif;
    background-color: #383838!important;
}

p {
    margin: 2px 0px;
}

.controls {
    position: fixed;
    z-index: 4000;
    right: 40px;
    bottom: 20px;
    width: 160px;
}
.controls .btn {
    margin-top: 5px;
}
.section {
    padding-bottom: 20px;
    padding-top: 20px;
    border: 1px solid #4a4a4a;
    min-height: 100px !important;
    box-shadow: rgba(0, 0, 0, 0.83) 1px 2px 3px;
    margin-bottom: 40px;
    background-color: #D9D5E1;
}

.section.current h4 {
    color: #DD0000;
}

.section-name {
    width: 100px;
    text-transform: capitalize;
}

.current .section-icon{
    opacity: 1;
}
.section-icon {
    opacity: 0.4;
}
.section-icon img{
    width: 90px;
}

.section-text {
    font-size: 23px;
    max-width: 280px;
    margin-left: 10px;
}

.section-text p{
    margin: 2px 0px!important;
}

.section-text p:before {
    content: "> ";
    font-weight: bold;
    color: #b1b1b1;
}

.section-progress {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.section-progress .progress-bar {
    height: 10px
}

.display-4 {
    margin-bottom: 30px;
    color: #D6D6D6;
}